.navbar {
  justify-content: center;
}

.logo-techrevive{
  height: 60px;
  width: auto;
}


.navbar .nav-item a {
  color: black;
}
.navbar-brand .nav-logo {
  color: var(--main-brand-color);
  font-size: 1.8rem;
}
.navbar-brand img{
  width: 20%;
}

.bi-person-circle{
  font-size: 30px;
  color: #0D6EFD;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar {
    justify-content: space-between;
  }
}

@media (max-width: 776px) {
  .navbar {
    justify-content: space-between;
  }
}
